<link rel="import" href="bower_components/polymer/polymer.html">
<polymer-element name="grid-of-content">
  <template>
    <style>
    :host {
      display: inline-block;
      position: relative;
      background-color: white;
      padding: 20px;
      width: 100%;
      font-size: 1.2rem;
      font-weight: 300;
    }
    .card-header {
      margin: 5px;
    }
    
    </style>
    
        <div class="content">
          <paper-tabs selected="0" selectedindex="0" id="paper_tabs">
            <paper-tab ng-click="typeFilter = ''" id="paper_tab3">All</paper-tab>
            <paper-tab ng-click="typeFilter = 'hotels'" id="paper_tab2">Hotels</paper-tab>
            <paper-tab ng-click="typeFilter = 'destinations'" id="paper_tab1">Destinations</paper-tab>
            <paper-tab ng-click="typeFilter = 'attractions'" id="paper_tab" active>Sights</paper-tab>
          </paper-tabs>
          <div ng-controller="MainCtrl" class="col-centered center-block" >
            <ul class="grid" >
  <template>
              <li ng-repeat="item in items | filter: { type: typeFilter }" class='{{item.type}}' >
              <div>
                <a ng-href="{{item.url}}" >
                  <span class="title"> {{item.value}} </span>
                  <img ng-src="{{item.image}}" />
                </a>
              </div>
              </li>
            </ul>
  </template>
          </div>
        </div>

  </template>
  <script>
  Polymer({});
  </script>
</polymer-element>
